/** HEADER **/
.header {
    padding: 12px var(--pk-spacing-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 145px;
    height: auto;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    position: relative;
}

.header__search-form {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.header__search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: var(--pk-rounded-xxl);
    padding: var(--pk-spacing-xs) var(--pk-spacing-md);
    box-shadow: var(--pk-inner-shadow);
    margin-right: 20px;
    flex-grow: 1; /* El elemento ocupa más espacio */
}

.header__search-input {
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    padding: var(--pk-spacing-xs) var(--pk-spacing-sm);
    background: transparent;
    color: #333;
    width: 100%;
}

.header__search-icon {
    width: 22px;
    height: 22px;
    background: url('../assets/icons/search-icon.svg') no-repeat center center;
    background-size: contain;
}

.header__profile-btn {
    background-color: #fff;
    color: var(--pk-color-primary);
    font-size: 1rem;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    flex-shrink: 0; /* El elemento no encoge */
}
/** END HEADER **/